Flask==3.0.3
Pillow==10.4.0
tensorflow==2.17.0
numpy==1.26.4
gunicorn==22.0.0
Werkzeug>=3.0.0
h5py>=3.1.0
python-dotenv==1.0.1  # For environment variable management
requests==2.31.0  # For making HTTP requests, if needed

